<div class="columns is-mobile is-centered mt-5 mb-5">
  <div class="column is-one-third is-hcentered">
    <div class="field">
      <label class="label">First name</label>
      <div class="control">
        <input name="nameInput" class="input" type="text" required [(ngModel)]="name" #nameInput="ngModel">
      </div>
      <div *ngIf="nameInput.invalid" class="alert" style="color:red">
        <div *ngIf="nameInput.errors?.['required']">
          *Name is required.
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Last name</label>
      <div class="control">
        <input name="lastNameInput" class="input" type="text" required [(ngModel)]="lastName" #lastNameInput="ngModel">
      </div>
      <div *ngIf="lastNameInput.invalid" class="alert" style="color:red">
        <div *ngIf="lastNameInput.errors?.['required']">
          *Last name is required.
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input name="usernameInput" class="input" type="text" required  minlength="4" [(ngModel)]="username" #usernameInput="ngModel">
      </div>
      <div *ngIf="usernameInput.invalid" class="alert" style="color:red">
        <div *ngIf="usernameInput.errors?.['required']">
          *Username is required.
        </div>
        <div *ngIf="usernameInput.errors?.['minlength']">
          *Username must be at least 4 characters long.
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input name="emailInput" class="input" type="email" required [(ngModel)]="email" #emailInput="ngModel"  email="true">
      </div>
      <div *ngIf="emailInput.invalid" class="alert" style="color:red">
        <div *ngIf="emailInput.errors?.['required']">
          *Email is required.
        </div>
        <div *ngIf="emailInput.errors?.['email']">
          *Wrong email.
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" name="passwordInput" type="password" required minlength="8" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}"  [(ngModel)]="password" #passwordInput="ngModel">
      </div>
      <div *ngIf="passwordInput.invalid" class="alert" style="color:red">
        <div *ngIf="passwordInput.errors?.['required']">
          *Password is required.
        </div>
        <div *ngIf="passwordInput.errors?.['minlength'] || passwordInput.errors?.['pattern']">
          *Must contain at least one number and one uppercase or lowercase letter, and at least 8 or more characters.
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Jmbg</label>
      <div class="control">
        <input class="input" type="text" placeholder="" [(ngModel)]="jmbg">
      </div>
    </div>

    <div class="field">
      <label class="label">Phone</label>
      <div class="control">
        <input class="input" type="string" placeholder="" [(ngModel)]="phone">
      </div>
    </div>

    <div class="field">
      <label class="label">Date of birth</label>
      <div class="control">
        <input class="input" type="date" placeholder="" [(ngModel)]="dateOfBirth">
      </div>
    </div>

    <div class="field">
      <label class="label">Country</label>
      <div class="control">
        <input class="input" type="text" placeholder="" [(ngModel)]="country">
      </div>
    </div>

    <div class="field">
      <label class="label">City</label>
      <div class="control">
        <input class="input" type="text" placeholder="" [(ngModel)]="city">
      </div>
    </div>

    <div class="field">
      <label class="label">Address</label>
      <div class="control">
        <input class="input" type="text" placeholder="" [(ngModel)]="address">
      </div>
    </div>

    <div class="field">
      <label class="label">Blood type</label>
      <div class="control">
        <div class="select">
          <select [(ngModel)]="bloodType">
            <option>A+</option>
            <option>A-</option>
            <option>B+</option>
            <option>B-</option>
            <option>AB+</option>
            <option>AB-</option>
            <option>O+</option>
            <option>O-</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Doctors</label>
        <div class="select">
          <select [(ngModel)]="doctor">
            <option *ngFor="let d of doctors" [ngValue]="d">{{d.name}} {{d.lastName}}</option>
          </select>
        </div>
    </div>

    <div class="field">
      <label class="label">Allergens</label>
        <div style="width:50%">
          <ng-multiselect-dropdown
            [placeholder]="'Select your allergens'"
            [settings]="dropdownSettings"
            [data]="allergens"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemDeSelect($event)"
            (onDeSelectAll)="onUnSelectAll()">
          </ng-multiselect-dropdown>
        </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" [disabled]="nameInput.invalid || lastNameInput.invalid" (click)="registerPatient()">Register</button>
      </div>
    </div>

  </div>
</div>