<div class="container my-5 pt-5 mx-5">
  <div class="columns">
    <div class="column m-5">
      <h1 class="mb-5 subtitle">Leave your feedback! Be nice!</h1>

      <div class="field ">
        <label class="label">Content</label>
        <div class="control">
          <textarea class="textarea is-warning" [(ngModel)]="content"
          placeholder="I adore this hospital!" id="content"> </textarea>
        </div>
      </div>

      <div class="my-5 field">
        <label class="checkbox">
          <input id="anonymous" type="checkbox" [(ngModel)]="anonymous">
          Anonymous
        </label>
      </div>

      <div class="my-5 field">
        <label class="checkbox">
          <input id="publishable" type="checkbox" [(ngModel)]="publishable">
          I want this to be published
        </label>
      </div>

      <button
        (click)="sendFeedback()"
        id = "submitButton"
        class="button is-primary w3-hover-white"
        
      > Send </button>
    </div>

  </div>
</div>
