body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

.w3-bar,h1,button {
    font-family: "Raleway", sans-serif
}

.fa-anchor,.fa-coffee {
    font-size:200px
}

header {
    background-color: #5688C7
}

h3{
  border-radius: 25px;
  background: #EFB0A1;
  padding: 20px;
  width: 500px;
  height: 80px;
}