<h1 class = "title w3-center m-5">Survey</h1>
    

<div class="tab column is-half spacing-left">
   
    <div class="card spacing-down " *ngFor="let surv of surveys">
      
        <hr><br><br>

        <div class="card-content level padding-left">
          <p class="title ">
            {{surv.name}}
          </p>

          <div class="rate" id="pitanje{{surv.id}}">
            <input type="radio" id="{{surv.id}}star1" name="pitanje{{surv.id}}" value="5"  (click)="rateIt(5, surv)"/>
            <label for="{{surv.id}}star1" title="text">1 star</label>
            <input type="radio" id="{{surv.id}}star2" name="pitanje{{surv.id}}" value="4" (click)="rateIt(4, surv)"/>
            <label for="{{surv.id}}star2" title="text">2 stars</label>
            <input type="radio" id="{{surv.id}}star3" name="pitanje{{surv.id}}" value="3" (click)="rateIt(3, surv)"/>
            <label for="{{surv.id}}star3" title="text">3 stars</label>
            <input type="radio" id="{{surv.id}}star4" name="pitanje{{surv.id}}" value="2" (click)="rateIt(2, surv)"/>
            <label for="{{surv.id}}star4" title="text">4 stars</label>
            <input type="radio" id="{{surv.id}}star5" name="pitanje{{surv.id}}" value="1" (click)="rateIt(1, surv)"/>
            <label for="{{surv.id}}star5" title="text">5 stars</label>
          </div>

        </div>
        <br>
      </div>
      
      <button (click)="sendSurvey()" class="button is-primary w3-center w3-hover-white"> Next </button>










      <div class="steps" id="stepsDemo">
        <div class="step-item is-active is-success">
          <div class="step-marker">1</div>
          <div class="step-details">
            <p class="step-title">Account</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker">2</div>
          <div class="step-details">
            <p class="step-title">Profile</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker">3</div>
          <div class="step-details">
            <p class="step-title">Social</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker">4</div>
          <div class="step-details">
            <p class="step-title">Finish</p>
          </div>
        </div>
        <div class="steps-content">
          <div class="step-content has-text-centered is-active">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Username</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="username" id="username" type="text" placeholder="Username" autofocus data-validate="require">
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Password</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control has-icon has-icon-right">
                    <input class="input" type="password" name="password" id="password" placeholder="Password" data-validate="require">
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Confirm password</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control has-icon has-icon-right">
                    <input class="input" type="password" name="password_confirm" id="password_confirm" placeholder="Confirm password" data-validate="require">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="step-content has-text-centered">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Firstname</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="firstname" id="firstname" type="text" placeholder="Firstname" autofocus data-validate="require">
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Last name</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control has-icon has-icon-right">
                    <input class="input" type="text" name="lastname" id="lastname" placeholder="Last name" data-validate="require">
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Email</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control has-icon has-icon-right">
                    <input class="input" type="email" name="email" id="email" placeholder="Email" data-validate="require">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="step-content has-text-centered">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Facebook account</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="facebook" id="facebook" type="text" placeholder="Facebook account url" autofocus data-validate="require">
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Twitter account</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="twitter" id="twitter" type="text" placeholder="Twitter account url" autofocus data-validate="require">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="step-content has-text-centered">
            <h1 class="title is-4">Your account is now created!</h1>
          </div>
        </div>
        <div class="steps-actions">
          <div class="steps-action">
            <a href="#" data-nav="previous" class="button is-light">Previous</a>
          </div>
          <div class="steps-action">
            <a href="#" data-nav="next" class="button is-light">Next</a>
          </div>
        </div>
      </div>



</div>