.appointmentImg{
    transition: transform .2s;
    width: 100px;
    height: 100px;
}

.appointmentImg:hover {
    transform: scale(1.5);
}

.appointmentRadio{
    opacity: 0;
}

#tableContainer{
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    align-items: center;
}

.is-primary{
    background-image: linear-gradient(to right, #5688C7 , #a6c3e9) !important;
}

.is-link{
        background-image: linear-gradient(to right, #a6c3e9 , #dbe0e7) !important;
}