<div>
    <table border="1">
        <thead>
            <th>Id Pacijenta</th>
            <th>Tekst</th>
            <th>Datum</th>
        </thead>
        <tbody *ngFor='let feedback of feedbacks'>
            <tr>
                <td>{{feedback.patientId}}</td>
                <td>{{feedback.content}}</td>
                <td>{{feedback.date}}</td>
                <td *ngIf='!feedback.isPublishable'>
                    Not publishable
                </td>
                <td *ngIf='!feedback.isApproved && feedback.isPublishable'>
                    <button (click)="aprroveFeedback(feedback.id)">Approve</button>
                </td>
                <td *ngIf='feedback.isApproved'>
                    <button (click)="removeFeedback(feedback.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
